/*refer from .../anaconda3/envs/prj/lib/python3.6/site-packages/notebook/static/style */

.container {
    width: 98% !important;
}   

div.cell.selected {
    border-left-width: 1px !important;	
}

div.output_scroll {
    resize: vertical !important;
}

/*trading vertical space for horizontal space with minimal changes*/

.prompt {
    text-align: left;
}

div.unrecognized_cell > div.prompt {
    display: none;
}

div.text_cell > div.prompt {
    display: none;
}

div.input {
    flex-direction: column;
}

div.output_area {
    flex-direction: column;
}

div.output_subarea {
    max-width: 100%
}

/* set the default arrangement after a certain width */
@media (min-width: 700px) {
    .prompt {
        text-align: right;
    }

    div.unrecognized_cell > div.prompt {
        display: flex;
    }

    div.text_cell > div.prompt {
        display: flex;
    }

    div.input {
        flex-direction: row;
    }

    div.output_area {
        flex-direction: row;
    }

    div.output_subarea {
        max-width: calc(100%-14ex)
    }
}

/*removed rightmost indicators, and shrinking menu so that checkpoints are saved without panning multiple lines*/
.navbar-nav > li > a {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 6px;
    padding-right: 6px;
}

#kernel_indicator {
	display: none;
}

#modal_indicator {
	display: none;
}
