/*refer from .../anaconda3/envs/prj/lib/python3.6/site-packages/notebook/static/style */

.container {
    width: 98% !important;
}   

div.cell.selected {
    border-left-width: 1px !important;	
}

div.output_scroll {
    resize: vertical !important;
}

/*trading vertical space for horizontal space with minimal changes*/

.prompt {
    text-align: left;
}

div.input {
    flex-direction: column;
}

div.output_area {
    flex-direction: column;
}

div.output_subarea {
    max-width: 100%
}
